.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  top: 30vh;
  padding: 1rem;
  left: 10%;
  width: 80%;
  z-index: 100;
  overflow: hidden;
  background-color: #fff;
}

.header {
  background: #fff;
  padding: 1rem;
  text-align: center;
}
.header h2,
.header h4 {
  text-align: center;
  margin: 0;
  font-weight: normal;
}
.header h2 {
  color: #000;
}
.header h4 {
  color: #767676;
}
.content {
  background: #fff;
  padding: 0rem 3rem;
}
.contentmessage {
  padding: 1rem;
  border-radius: 0.4rem;
  background-color: rgb(118 118 118 / 5%);
}
h4 {
  color: #767676;
  display: inline-block;
  font-weight: normal;
}
.contentmessage h6 {
  font-size: 1rem;
  color: #767676;
  display: inline-block;
  text-transform: lowercase;
  font-weight: normal;
}
.blue,
svg path {
  color: #3676ca;
}
svg {
  margin-right: 1rem;
}
.actions {
  padding: 1rem;
  display: flex;
  justify-content: center;
}
.btn {
  text-decoration: none;
  color: #3676ca;
  background-color: rgb(54, 118, 202, 0.2);
  font-size: 0.8rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: none;
  cursor: pointer;
}
.Button.btn-confirm {
  color: #fff;
  background-color: #3676ca;
}
.Button.btn-confirm:hover {
  background-color: #093876;
}
.btn-cancel {
  color: #3676ca;
  background-color: #fff;
}

@media (min-width: 768px) {
  .modal {
    left: calc(50% - 17.5rem);
    width: 35rem;
  }
}
